# ────────────────────────────────────────────────
# Terraform Backend Configuration
# Copy to backend.conf  and run:
#   terraform init -backend-config=backend.conf
# ────────────────────────────────────────────────

bucket         = "fundinv-terraform-state-dev"
key            = "terraform.tfstate"
region         = "ap-southeast-1"
encrypt        = true
use_lockfile   = true
